sudo: required
services:
  - docker

before_install:
  - docker build -t bhattkirtan/kb-oms-test -f ./Dockerfile.dev ./kb-oms-client

script:
  - docker run bhattkirtan/kb-oms-test npm test -- --coverage

after_success:
  - docker build -t bhattkirtan/kb-oms ./kb-oms-client
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push bhattkirtan/kb-oms
